.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

// menu
.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem
}

//.menu-item {
//    display: flex;
//    align-items: center;
//    gap: 1rem;
//}
